In [18]:
pip install pyperclip

Collecting pyperclip
  Downloading pyperclip-1.9.0.tar.gz (20 kB)
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Building wheels for collected packages: pyperclip
  Building wheel for pyperclip (pyproject.toml) ... done
  Created wheel for pyperclip: filename=pyperclip-1.9.0-py3-none-any.whl size=11051 sha256=377ecb11f6a343295a74d5d6818479b21ce6d31027ab4d450442c3475d8c99d0
  Stored in directory: /Users/rafirafi/Library/Caches/pip/wheels/9c/79/90/c9e831caaffa2633ad99f1d35c6ea39866b92de62e909e89ef
Successfully built pyperclip
Installing collected packages: pyperclip
Successfully installed pyperclip-1.9.0

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: /Users/rafirafi/myenv/bin/python -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [12]:
import pandas as pd

In [22]:
import pandas as pd
# Membuat dataframe dari data yang disalin ke clipboard
df = pd.read_clipboard()

In [24]:
df

       Nama Gender  Angkatan  Tinggi Badan  Waktu Perjalanan  Wilayah Tinggal
0    favian      L      2021           160                17    Taman Anggrek
1     aurel      P      2021           170                20  Jakarta Selatan
2     hanif      L      2021           172                34  Jakarta Selatan
3     arhan      L      2021           167                23       Taman Mini
4      gery      L      2021           182                52           Gading
5   kharysa      P      2021           172                34           Bekasi
6     belva      P      2021           168                60        Tangerang
7     aulia      P      2021           166                53           Grogol
8     nazri      L      2021           174                60           Grogol
9      heru      L      2021           170                25            Slipi
10     maul      L      2021           150                50  Jakarta Selatan
11    fadil      L      2021           169                50           Grogol
12    iqbal      L      2021           167                50            Slipi
13   armyta      P      2021           173                50        Tangerang
14  affitra      P      2021           179                50        Tangerang
15    nadin      P      2021           171                25          Serpong
16    tiara      P      2021           171                27          Serpong
17  pratama      L      2021           172                10    Taman Anggrek
18    angel      P      2021           165                15           Gading
19    siska      P      2021           166                20          Serpong

In [26]:
#menghitung rata-rata tinggi
rata_tinggi = df['Tinggi Badan'].mean()
rata_tinggi

np.float64(169.2)

In [30]:
print(df.dtypes)

Nama                object
Gender              object
Angkatan             int64
Tinggi Badan         int64
Waktu Perjalanan     int64
Wilayah Tinggal     object
dtype: object

In [32]:
#mengubah tipe data kolom 'Angkatan' menjadi string
df[ 'Angkatan'] = df['Angkatan'].astype(str)

In [34]:
print(df.dtypes)

Nama                object
Gender              object
Angkatan            object
Tinggi Badan         int64
Waktu Perjalanan     int64
Wilayah Tinggal     object
dtype: object

In [38]:
df = pd.read_csv("prak1.csv", sep=";")  # Gunakan kutip standar

In [40]:
df

        Nama Gender  Angkatan  Tinggi Badan  Waktu Perjalanan  Wilayah Tinggal
0     favian      L      2021           160                17    Taman Anggrek
1      aurel      P      2021           170                20  Jakarta Selatan
2      hanif      L      2021           172                34  Jakarta Selatan
3      arhan      L      2021           167                23       Taman Mini
4       gery      L      2021           182                52           Gading
5    kharysa      P      2021           172                34           Bekasi
6      belva      P      2021           168                60        Tangerang
7      aulia      P      2021           166                53           Grogol
8      nazri      L      2021           174                60           Grogol
9       heru      L      2021           170                25            Slipi
10      maul      L      2021           150                50  Jakarta Selatan
11     fadil      L      2021           169                50           Grogol
12     iqbal      L      2021           167                50            Slipi
13    armyta      P      2021           173                50        Tangerang
14   affitra      P      2021           179                50        Tangerang
15     nadin      P      2021           171                25          Serpong
16     tiara      P      2021           171                27          Serpong
17   pratama      L      2021           172                10    Taman Anggrek
18     angel      P      2021           165                15           Gading
19     siska      P      2021           166                20          Serpong
20       rey      L      2020           174                40        Tangerang
21  rennardo      L      2020           172                45           Glodok
22      jiva      P      2020           165                45        Tangerang
23     chiko      P      2020           180                65        Tangerang
24     lutfi      L      2020           165                70           Grogol
25      dika      L      2020           172                40           Gading
26      rico      L      2020           171                90              BKT
27    alvian      L      2020           169                34           Cipete
28      aldo      L      2020           167                50         Cilandak
29     nissa      P      2020           165                10         Cilandak